@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* ****************************************** */
/* minimal reset */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  /* background-color: rgba(44, 114, 27, 0.596); */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* ************************************* */
/* variable declarations */
:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: white;
  --secondary-color: black;
}
/* ************************************ */
/* main style */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: var(--primary-font);
}
/* *********************************** */
